*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: initial;
}

body{
    font-family: 'Roboto', sans-serif ;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

button{
    border:none;
    color: white;
    width: 15em;
    text-align: center;
    background: linear-gradient(#ff79da, #9356dc);
    padding: 1em;
    border-radius: 2em;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0.2em #e0e0e0;
}

button:hover{
    background: linear-gradient(#ff94e1, #a978e3);
    box-shadow: 0.3em 0.3em 0.3em #afaeae;
}

span{
    margin-bottom: 0.3em;
    font-weight: bold;
}

/*----------------------- Loading spinner  ----------------------------*/

.loader-background{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #99e2d057;
    border : 1px solid red;
    z-index: 5;
    position: fixed;
    animation: loaderback 2.5s ease-in-out forwards;
}

@keyframes loaderback {
    0%{
        opacity: 1;
        z-index: 5;
    }
    99%{
        opacity: 1;
        z-index: 1;
    }
    100%{
        opacity: 0;
        z-index: -2;
    }
}

.loader {
    animation: load 1s infinite linear;
    border: solid 0.9em transparent;
    border-radius: 50%;
    border-right-color: #9356dc;
    border-top-color: #9356dc;
    box-sizing: border-box;
    height: 10em;
    left: calc(50% - 5em);
    position: fixed;
    top: calc(50% - 5em);
    width: 10em;
    z-index: 2; 
}

.loader::before {
    animation: load 1.5s infinite linear;
    border: solid 0.9em transparent;
    border-radius: 50%;
    border-right-color: #99e2d0;
    border-top-color: #99e2d0;
    box-sizing: border-box;
    content: "";
    height: 8em;
    left: 0;
    position: absolute;
    top: 0;
    width: 8em; 
}

.loader::after {
    animation: load 2s infinite linear;
    border: solid 0.9em transparent;
    border-radius: 50%;
    border-right-color: #ff79da;
    border-top-color: #ff79da;
    box-sizing: border-box;
    content: "";
    height: 6em;
    left: 1em;
    position: absolute;
    top: 1em;
    width: 6em; 
}

@keyframes load {
100% {
    transform: rotate(360deg);
    } 
}


/*------------------- Header ------------------*/

header{
    /*border: 1px solid green;*/
    padding-bottom: 0.5em;
    padding: 1.5em;
    margin-bottom: 0.3em;    
    box-shadow: 0 0.3em 0.7em 0.1em #70707048;
}

.site-name{
    display:flex;
    justify-content: center;
}


/*------------- Partie présentation entreprise ---------------*/

.presentation{
    /*border: 1px solid grey;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 1em;
    background-color: #e9e7e7;
}

.presentation p{
    margin-left: 1.5em;
    font-weight: bold;
}

.enterprise{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.enterprise-description{
    background-color: #f2f2f2;
    text-align: center;
    padding: 2em;
    width: 100%;
}

.enterprise-description div{
    margin-top: 1em;
    margin-bottom: 1em;
}

.fonctionnement{
    border : 1px solid blue;
    padding-top: 2em;;
    width: 100%;
}

.fonctionnement h2{
    margin-left: 1.3em;
}

.choice{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.list{
    display: flex;
    flex-direction: row;
    padding: 1.3em 3em 1.3em 1.5em;
    margin: 0.7em;
    justify-content: space-around;
    background-color: #f2f2f2;
    font-weight: bold;
    width: 80%;
    border-radius: 1.3em;
    box-shadow: 0.3em 0.3em 0.3em #e0e0e0;
}

.list:hover{
    background-color: #ecddff;
}

.list i{
    color: grey;
    font-size: 1.2em;
}

.list:hover i{
    color: #9356dc;
}

.number{
    display: flex;
    background-color: #9356dc;
    color: white;
    height: 1.5em;
    width: 1.5em;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    font-size: 0.9em;
    font-weight: lighter;
    z-index: 2;
    position: absolute;
    left: 2.3em;
}


/*------------ Cartes des restaurants ---------------*/

.card{
    display: flex;
    flex-direction: column;
    border : 1px solid yellow;
    padding: 2em;
    background-color: #f2f2f2;
}

.restaurant-card{
    display: flex;
    border : 1px solid violet;
    margin-top: 2em;
    background-color: white;
    border-radius: 1.5em;
    box-shadow: 0.3em 0.3em 0.3em #e0e0e0;
}

.restaurant-card a{
    color:black;
    width: 100%;
}

.top-card{
    height: 10em;
}

.image-card{
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.new{
    display: flex;
    z-index: 3;
    background-color: #99e2d0;
    color: #058867;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 2em;
    width: 5em;
    position: relative;
    left: 73%;
    bottom: 90%;
}

.text-card{
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-between;
    line-height: 1.6em;
}

.text-card i {
    font-size: 1.6em;
    font-weight: lighter;
    width: 2em;
    margin-top: 0.3em;
    display: block;
    position: relative;
    background: white;
}

.text-card i:hover{ 
    font-weight: bold;
    transition: all 1.3s cubic-bezier(0,.69,0,.6);
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*-------------------- Footer -------------------*/

footer{
    display:flex;
    border : 1px solid royalblue;
    padding: 2em;
    background-color: #161616;
    color : white; 
}

.logo{
    margin-bottom: 1em;
    font-weight: lighter;
    font-size: 1.2em;
    font-family: "Shrikhand", cursive;
}

footer a{
    color:white;
}

footer i{
    width: 1.5em;
}

ul{
    list-style: none;
    line-height: 2.1em;
}


/*--------------------- Pages restaurants -----------------------*/

.title-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
    padding-right: 5em;
    width: 100%;
}

.title-link a{
    width: 10%;
}

.title-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.title-part{
    margin-top: 1.5em;
}

.illustration{
    width: 100%;
    margin-top: -0.3em;
}

.restaurant-image{
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.menu{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: #e0e0e0;
    width: 100%;
    position: relative;
    margin-top : -2em;
}

.restaurant-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
    padding: 0.7em 1.5em 0.7em 0.7em;;
}

.restaurant i{
    font-size: 2em;
    font-weight: lighter;
    width: 3em;
    display: block;
    position: relative;
    background: white;
}

.restaurant-name i:hover{
    cursor: pointer;
    font-weight: bold;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fullheart 3s ease-in-out 0s;
}

@keyframes fullheart{
    from{opacity:0}
    to{opacity:1}
}

.menu-part{
    display: flex;
    flex-direction: column;
}

.title-part{
    border-bottom: 0.2em solid #99e2d0 ;
    height: 1.5em;
    width: 2.5em;
    margin-left: 1em;
    margin-top: 0.8em;
    animation: slide 2.5s ease-in-out 0s;
}

.dish{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.8em;
    height: 4.2em;
    width: 95%;
    position: relative;
    overflow: hidden;
    line-height: 1.5em;
    background-color: white;
    border-radius: 1.2em;
    box-shadow: 0.3em 0.3em 0.3em #c9c8c8;    
    animation: slide 2.5s ease-in-out 0s;
}

/*@keyframes slide {
    from{ margin-top: 30%;
        opacity: 0;}
    to{ margin-top: 0.8em;
        opacity: 1;}
    
}*/

@keyframes slide {
    from{ margin-top: 4em;
    opacity: 0;}
    to{ margin-top: 0.8em;
    opacity: 1;}
    
}

.description-dish{
    margin: 0.4em 0 0.4em 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
    transition: all 0.6s ease;
}

.description-dish h2{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1em;
    transition: all 0.6s ease;
}

.dish:hover .description-dish{
    cursor: pointer;
    width: 57%;
}

.dish:hover .description-dish h2{
    cursor: pointer;
    width: 95%;
}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4.2em;
    border: 1px solid red;
    background-color: #99e2d0;
    border-bottom-right-radius: 1.2em;
    border-top-right-radius: 1.2em;
    position : relative;
    right: -4.2em;
    transition: all 1s;
}

.dish:hover .checkbox{
    cursor: pointer;
    right: 0em;
}

.circle{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 1.6em;
    width: 1.6em;    
    position: relative;
    background: white;
    border: 1px solid #99e2d0;
    border-radius: 50%;
}

.fa-check{
    padding-top: 0.3em;;
    color: #99e2d0;
    transition: all 1s;
}

.dish:hover .fa-check{
    transform: rotate(360deg);
}

.price{
    font-weight: bold;
    margin : 1.2em 3em 0 0.5em;
    position: absolute;
    right: 0;
    transition: right 1s;
}

.dish:hover .price{
    cursor: pointer;
    right: 4em;
}

.command{
    display: flex;
    justify-content: center;
    margin: 2em;
}


/*------------------- Ecrans plus grands que mobile -------------------- */

/*------------------------ Tablettes-----------------------------*/


@media screen and (min-width: 750px) and (max-width: 1024px){

    main{
        align-items: center;
    }

    .presentation{
        width: 100%;
    }

    .enterprise{
        width: 100%;
    }
    .enterprise-description{
        width: 100%;
    }

    .fonctionnement{
        width: 50%;
    }

    .list .number{
        position: absolute;
        left: 28.5%;
    }

    .card{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2em 0 2em 0;
    }

    .card-title{
        width: 100%;
        padding-left: 2.3em;
    }

    .restaurant-card{
        width: 45%;
        margin-left: 2em;
    }

    .new{
        left: 75%;
    }

    .menu{
        align-items: center;
    }

    .restaurant-name{
        width: 60%;
    }

    .dishes{
        width: 65%;
    }

    .price{
        margin-right: 2em;
    }
    
    .command{
        width: 70%;
    }
}

/*------------------- Desktop-----------------*/

@media screen and (min-width: 1025px){

    main{
        align-items: center;
    }

    .presentation{
        width: 100%;
    }

    .enterprise{
        width: 100%;
    }

    .enterprise-description{
        width: 100%;
    }

    .fonctionnement{
        width: 100%;
    }

    .choice{
        flex-direction: row;
        justify-content: space-around;
    }

    .list{
        width: 30%;
        margin : 0.7em 0 0.7em 0;
        padding: 1.3em 0 1.3em 0;
        justify-content: center;
        position: relative;
    }

    .list i{
        margin-right: 2.5em;
    }

    .number{
        position: absolute;
        left: -2.6%;
        }

    .card{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 2em 0 2em 0;
    }

    .card-title{
        width: 100%;
        padding-left: 2.3em;
    }

    .restaurant-card{
        width: 45%;
        margin-left: 2em;
    }

    .new{
        left : 80%
    }

    .menu{
        align-items: center;
    }

    .restaurant-name{
        width: 60%;
    }

    .dishes{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .menu-part{
        width: 33%;
    }

    .dish{
        height: 6em;
        line-height: 2;
    }

    h4{
        margin-bottom: 0.3em;
    }

    .title-part{
        margin-bottom: 1em;
    }

    .dish:hover h4{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .checkbox{
        height: 6em;
    }

    .price{
        margin-right: 1em;
    }

    .command{
        width: 50%;
    }

}